body {
      margin: 0;
      /* Remove default margin */
      padding: 0;
      /* Remove default padding */
      height: 100vh;
      /* Make sure the body fills the entire viewport height */
      display: flex;
      /* Use flexbox to center content vertically */
      justify-content: center;
      /* Center content horizontally */
      align-items: center;
      /* Center content vertically */
      background-color: rgb(107, 107, 107);
  }


  /* Home.css */
  
  .home-page {
    text-align: center; /* Centers the content */
    padding: 20px; /* Adds some padding around the content */
  }
  
  .home-page h3 {
    margin: 0 0 20px; /* Adds margin to the bottom of the heading for spacing */
  }
  
  .home-page img {
    max-width: 15%; /* Ensures the image is responsive and doesn't overflow its container */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-bottom: -20px; /* Adds some space below the logo */
  }
  