body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    height: 100vh;
    /* Make sure the body fills the entire viewport height */
    display: flex;
    /* Use flexbox to center content vertically */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

.landing-page {
    background-image: url('./assets/landing_bg.jpg');
    /* Set the background image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    height: 100vh;
    /* Set the height of the landing page to fill the viewport */
    width: 100vw;
    /* Set the width of the landing page to fill the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}


.logo {

    /* Adjust the width of the logo */
    height: 30vh;
    width: 30vh;
    /* Maintain aspect ratio */
}

.ts-logo {
    height: 7vh;
    width: 35vh;
    position: relative;
    top: -9vh
}

.content {
    margin-top: -3.5vh;
    /* Adjust the top margin to create space between the logo and the text */
    margin-left: 32vh;
    position: relative;
    top: -35px;
}

.content p {
    color: rgb(197, 197, 197);
    font-family: nowayback;
    font-weight: normal;
    font-size: 1.5vh;
    position: relative;
    top: -3.7vh;
    left: -4.5vh;
    text-shadow: 0px 2.5px 6px rgba(0, 0, 0, 0.99);
    /* Adjust values as needed */
}


.landing-button {
    font-family: nowayback;
    font-weight: 0;
    font-size: 1.5vh;
    color: #fff;
    background-color: #004864;
    padding: 1.5vh 2.5vh;
    border: solid #ffffff 2px;
    box-shadow: rgb(0, 0, 0) 0px 4px 26px 4px;
    border-radius: 6vh;
    transition: 300ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 29vh;
    margin-left: 29.3vh;
    margin-top: -1.5vh;
}

.landing-button:hover {
    transition: 300ms;
    padding: 15px 25px;
    transform: translateY(-0px);
    background-color: #ffffff;
    color: #004864;
    border: solid 3px #004864;
}

@font-face {
    font-family: "cabin";
    src: url('./fonts/cabin.ttf');
}

@font-face {
    font-family: "nowayback";
    src: url('./fonts/nowayback.ttf');
}

h1 {
    font-family: nowayback;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: #404040;
    font-weight: normal;
    position: absolute;
    margin-left: 25px;
    left: 201%;
}

.slid {
    color: rgb(128, 128, 128);
    position: absolute;
    top: 68vh;
    left: 46.1vw;
    margin-left: -1.2vw;

}

.slider {
    position: relative;
    top: -10vh;
    height: 1.25em;
    width: 400px;
    overflow: hidden;
    margin-left: -1vw;
}

.slider__word {
    font-family: nowayback;
    font-size: 23px;
    font-weight: normal;
    position: absolute;
    margin-left: 235px;
    margin-top: 0.5vh;
    width: 100%;
    height: 100%;
    line-height: 1em;
    transform: translateY(100%);
    animation: slide 6.15s linear infinite;
    color: #ffffff;
  }

  .slider__word:nth-child(1) {
    animation-delay: 1.15s;
}

.slider__word:nth-child(2) {
    animation-delay: 2.40s;
}

.slider__word:nth-child(3) {
    animation-delay: 3.70s;
}

.slider__word:nth-child(4) {
    animation-delay: 4.95s;
} /* Better */

.slider__word:nth-child(5) {
    animation-delay: 6.15s;
} /* Faster */






@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0.1;
    }

    15% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(0);
        opacity: 1;
    }

    45% {
        transform: translateY(-100%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0.1;
    }
}